body{
    margin: 0;
}
#nav_bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

#nav_bar>div {
    display: flex;
    gap: 5px;
    list-style-type: none;
}

#nav_bar>div>ul {
    display: flex;
    gap: 8px;
    list-style-type: none;
}

#first_port {
    background-color: #5db7a9;
    color: white;
}

.first_port_childern1 {
    text-align: center;
    font-size: larger;
    padding-top: 30px;
}

.first_port_childern2 {
    display: flex;
    padding-left: 30px;
    font-size: large;
}

.first_port_childern2>img {
    width: 600px;
    height: 390px;
}

#second_port_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    /* text-align: center; */
}

#second_port_content>div {
    display: flex; 
    text-align: center;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 92px;
}

#second_port_content>div>div>img {
    width: 235px;
    height: 235px;
}

#third_port_idea {
    background-color: #efae1a;
    color: white;
    font-size: large;
}

.third_port_idea_childern1 {
    padding-top: 30px;
    display: flex;
    padding-left: 50px;
}

#third_port_idea>div>img {
    width: 600px;
    height: 600px;
}

#fourth_port {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#fourth_port>div>img {
    width: 768px;
    height: 420px;
}

#fifth_port {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#fifth_port>div>img {
    width: 768px;
    height: 420px;
}